.shorts_page {
    background-color: #1a1c21;
    min-height: calc(100vh - 200px);
    padding-top: 70px;
}
.shorts_contents {
    display: flex;
    flex-direction: row;
    max-width: 1440px;
    margin: 0 auto;
    justify-content: space-between;
    background-color: #1a1c21;
}
.blk1_category {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.categories {
    position: sticky;
    width: 258px;
    margin: 0px 18px;
    height: 374px;
    margin-top: 20px;
}
.category_heading {
    height: 30px;
    padding: 18px 0px 16px 34px;
    align-items: center;
    justify-content: flex-start;
    display: flex;
    background-color: #121317;
}
.categ_inner {
    font-family: "Roboto-Bold", sans-serif;
    font-weight: 500;
    color: #ffffff;
    font-size: 18px;
}  
.cates {
    height: 40px;
    padding-left: 34px;
    align-items: center;
    justify-content: flex-start;
    display: flex;
    background-color: #121317;
    cursor: pointer;
}
.cates_options {
    font-family: "Roboto-Regular", sans-serif;
    font-size: 16px;
    color: #ffffff;
    line-height: 1.33;
    position: relative;
}
.cate_line {
    display: flex;
    align-items: center;
    justify-content: center;
}
.line_content {
    border-bottom: solid 1px #ffffff;
    margin: 0 18px 0 18px;
    width: 221px;
    height: 1px;
}
.cate_options2 {
    font-family: "Roboto-Regular", sans-serif;
    font-size: 16px;
    line-height: 1.33;
    position: relative;
    color: #838991;
}
.line_content2 {
    border-bottom: solid 1px #30343b;
}
.button_cate{
    border: none;
    width: 258px;
    background-color: #121317;
    height: auto;
}

.short_videos_blk {
    padding-top: 20px;
}
.content_shorts {
    width: 820px;
}
.video_wrapper {
    margin-top: 0px;
    border: 1px solid blue;
    margin-bottom: 20px;
}
.video_title {
    font-size: 14px;
    line-height: 1.8;
    padding: 10px 14px 5px 14px;
    color: #ffffff;
    letter-spacing: 0.35px;
    margin: 0px;
    text-align: left;
}
.blank_space {
    padding: 0px 0px 12px 15px;
}
.video_content_box {
    height: 460px;
    width: 99.8%;
    border: 1px solid white;
    position: relative;
    margin: auto;
    background: black;
}
.video_sharing {
    display: flex;
    margin-top: 0px;
    justify-content: space-between;
}
.sharing_opt {
    display: flex;
}
.optionals{
    display: flex;
    padding: 10px 20px;
    flex: 1;
}
.style_heart {
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-tap-highlight-color: transparent;
    cursor: pointer;
}
.heart_icon {
    width: 24px;
    height: 20px;
}
.gap_share {
    margin-right: 10px;
}
.some_gap {
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-tap-highlight-color: transparent;
}
.style_share {
    display: flex;
    align-items: center;
    position: relative;
    padding-right: 20px;
}
.share_icon {
    width: 20px;
    height: 17px;
    cursor: pointer;
}
.pADKZ6 {
    display: none;
    position: absolute;
    left: 30px;
    cursor: pointer;
}
.overlay_icons {
    display: flex;
    gap: 4px;
}
.style_share:hover .pADKZ6 {
    display: block;
}

.icons_ofshare {
    width: 34px;
    height: 34px;
    object-fit: contain;
    padding-left: 2px;
    cursor: pointer;
}
.style_Kij7iMb {
    display: flex;
    align-items: center;
    margin-right: 20px;
    cursor: pointer;
}
.style_full {
    display: flex;
    align-items: center;
}
.fullEpisode {
    font-size: 14.7px;
    line-height: 0.71;
    color: #ffffff;
    padding-top: 0px;
    padding-left: 10px;
}

.blk3_category{
    position: sticky;
    width: 258px;
    margin: 0px 18px;
    top: 90px;
    height: 374px;
    margin-top: 20px;
}
.discov_Ad {
    position: relative;
}
.ad_image {
    width: 257px;
    height: 374px;
    object-fit: contain;
}
.ad_content {
    position: absolute;
    bottom: 0;
    height: 156px;
    background-image: linear-gradient( to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.71) 37%, rgba(0, 0, 0, 0.92) 97% );
    width: 257px;
    justify-content: center;
    align-items: center;
}
.style_textContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}
.text_contain{
    font-family: "Roboto-Regular", sans-serif;
    font-size: 16px;
    line-height: 1.38;
    text-align: center;
    color: #ffffff;
    width: 160px;
}
.textContainer_gapline {
    width: 257px;
    height: 2.5px;
    margin: 0 20px;
    background-color: #22252a;
    margin-top: 14px;
}
.text_available {
    font-family: "Roboto-Regular", sans-serif;
    font-size: 16px;
    line-height: 1.44;
    text-align: center;
    color: #ffffff;
}
.style_imageConatiner {
    display: flex;
    justify-content: space-evenly;
    padding-top: 8px;
}
.style_hred_store {
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    outline: none;
    text-decoration: none;
}
.style_storeImage {
    width: 100px;
    height: 33px;
    object-fit: contain;
    border: 0.5px solid rgba(255,255,255,1);
    border-radius: 4px;
}